<div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <!-- First Row -->
    <div style="flex: 1 1 30%;">
      <a href="https://www.goodreads.com/book/show/16139457-industrias-y-andanzas-de-alfanhu?from_search=true&from_srp=true&qid=ZAxyWQJT93&rank=1">
        <img src="/files/book-alfanhui.png" alt="Industrias y andanzas de Alfanhuí" width="200" height="300">
      </a>
    </div>
    <div style="flex: 1 1 30%;">
      <a href="https://www.goodreads.com/book/show/16902.Walden">
        <img src="/files/book-walden.png" alt="Walden - Henry David Thoreau" width="200" height="300">
      </a>
    </div>
    <div style="flex: 1 1 30%;">
      <a href="https://www.goodreads.com/book/show/61533449-la-poes-a-no-se-consume?from_search=true&from_srp=true&qid=GUt6wrebf9&rank=1">
        <img src="/files/book-la-poesia-no-se-consume.png" alt="La poesía no se consume - Pier Paolo Pasolini" width="200" height="300">
      </a>
    </div>
  
    <!-- Second Row -->
    <div style="flex: 1 1 30%;">
      <a href="https://www.goodreads.com/book/show/46264376-el-arte-de-recomenzar">
        <img src="/files/book-el-arte-de-recomenzar.png" alt="El arte de recomenzar - Fabio Rosini" width="200" height="300">
      </a>
    </div>
    <div style="flex: 1 1 30%;">
      <a href="https://www.goodreads.com/book/show/50202953-piranesi?from_search=true&from_srp=true&qid=XRZqDcsJrc&rank=1">
        <img src="/files/book-piranesi.png" alt="Piranesi - Alessandro Baricco" width="200" height="300">
      </a>
    </div>
  </div>