<p>

  Find me on
      
      
      
        <a class="icon" target="_blank" rel="noopener" href="https://github.com/nazori-eu" aria-label="github">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
        
         , 
      
      
        <a class="icon" target="_blank" rel="noopener" href="https://www.linkedin.com/in/juaireg/" aria-label="linkedin">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
        
         and 
      
      
        <a class="icon" target="_blank" rel="noopener" href="mailto:iranzo97@icloud.com" aria-label="Email">
          <i class="fas fa-envelope" aria-hidden="true"></i>
        </a>
        
        .
      
</p>
  